* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #141D2F;
}

.allcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    /* max-width: 1440px; */
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    width: 100%;
    padding: 37px 100px;
    /* max-width: 1440px; */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    padding: 12px 0;
}

.header__logo,
h2 {
    color: white;
    font-size: 35px;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    transition: all ease-in-out 125ms;
}

.nav-link:hover {
    color: #70E61C;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__image {
    border-radius: 25%;
    width: 600px;
    object-fit: cover;
    /* filter: drop-shadow(10px 5px #70E61C); */
    filter:
        drop-shadow(-100px 0px 50px rgba(140, 0, 255, 0.85)) drop-shadow(100px 0 50px rgba(120, 255, 40, 0.85)) drop-shadow(0 20px 40px rgba(0, 0, 0, 0.25));
}

.hero__text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__name {
    color: white;
    font-size: 90px;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.hero__intro {
    color: white;
    transform: rotate(-90deg);
    font-size: 64px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
}

.hero__role {
    color: #9747FF;
    font-size: 58px;
    font-family: 'Poppins-Regular';
    font-weight: 400;

}

.social {
    margin: 24px 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.social__line {
    height: 1px;
    width: 100px;
    background-color: #9747FF;
}

.social__email {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    text-decoration: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
}

.about__title {
    color: white;
    font-size: 90px;
    font-family: 'Poppins-Bold';
    font-weight: bold;

}

.about__text {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;

}

.about__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.about__social--item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.about__visual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    width: 453px;
    height: 453px;
    object-fit: cover;
    border: 4px #70E61C solid;
    border-radius: 50%;
}

.about__line {
    width: 267px;
    height: 4px;
    background-color: #70E61C;

}

.skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 100px;
    margin-top: 164px;
}

.skills__grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px 88px;
    max-width: 664px;
    flex-wrap: wrap;
    width: 100%;
}

.skills__text {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.skills__item-label {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.skills__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.skills__title {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
}

.skills__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 88px;
    text-align: center;
}

.skills__line {
    width: 68px;
    height: 4px;
    background-color: #9747FF;
}

.skills__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.skills__highlight {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.skills__highlight-accent {
    color: #9747FF;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.skills__button {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    padding: 15px 30px;
    background-color: #70E61C;
    border-radius: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}