:root {
    --primary-1: #4B47FF;
    /*#70E61C*/
    --primary-2: #00BEE8;
    /*#9747FF*/
    --error-color: #E61C40;
    --bg-color: #141D2F;
    --text-color: #FFFFFF;

    --shadow-soft: 0 6px 16px rgba(0, 0, 0, 0.35);
    --shadow-hover: 0 10px 24px rgba(0, 0, 0, 0.45);
    --shadow-primary: 0 8px 20px rgba(75, 71, 255, 0.35);
    --shadow-secondary: 0 8px 20px rgba(0, 190, 232, 0.35);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #141D2F;
}

.allcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    /* max-width: 1440px; */
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141D2F;
    width: 100%;
    padding: 37px 100px;
    gap: 590px;
    /* max-width: 1440px; */
    /* z-index: 5; */
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
}

.header__logo,
h2 {
    color: white;
    font-size: 35px;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.header__logo-i {
    display: inline-block;
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 35px;
    background: linear-gradient(to bottom,
            var(--primary-2) 0 35%,
            white 35% 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header__logo-o {
    display: inline-block;
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 35px;
    background: linear-gradient(to right,
            white 0 50%,
            var(--primary-1) 50% 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 120%;
    transition: all ease-in-out 125ms;
}

.header__link:hover {
    color: var(--primary-2);
}

.header__language-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.header__language-button {
    border-radius: 10px;
    padding: 5px 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    background-color: #141D2F;
    border: 1px solid var(--primary-1);
    cursor: pointer;
    letter-spacing: 0%;
    line-height: 120%;
    min-width: 40px;
}

.header__language-button--active {
    background-color: var(--primary-1);
    border: none;
    pointer-events: none;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 100%;
}

.hero__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    height: 800px;
}

.hero__shadows {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
    height: 100%;
    scale: 1.4;
}


.hero__image {
    border-radius: 25%;
    width: 600px;
    object-fit: cover;
    /* filter: drop-shadow(10px 5px var(--primary-1)); */
    /* filter:
        drop-shadow(-100px 0px 50px rgba(140, 0, 255, 0.85)) drop-shadow(100px 0 50px rgba(120, 255, 40, 0.85)) drop-shadow(0 20px 40px rgba(0, 0, 0, 0.25)); */
    /* filter:
        drop-shadow(-100px 0px 50px rgba(75, 71, 255, .75)) drop-shadow(100px 0 50px rgba(0, 190, 232, .75)) drop-shadow(0 20px 40px rgba(0, 0, 0, 0.25)); */
    z-index: 2;
}


.hero__text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__name {
    color: white;
    font-size: 90px;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.hero__intro {
    color: white;
    transform: rotate(-90deg);
    font-size: 64px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
}

.hero__role {
    color: var(--primary-2);
    font-size: 58px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
}

.hero__button {
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    align-self: center;
    font-size: 23px;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary-1);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    transform-origin: top center;
    transition: all 100ms ease-in-out;
    margin-top: 36px;
}

.hero__button:hover {
    transform: scale(1.15);
    background-color: var(--primary-2);
}

.hero__background {
    position: absolute;
    top: 52%;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: none;
}

.social {
    margin: 24px 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.social__line {
    height: 1px;
    width: 100px;
    background-color: var(--primary-2);
}

.social__email {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    text-decoration: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding-left: 100px;
}

.about__title {
    color: white;
    font-size: 90px;
    font-family: 'Poppins-Bold';
    font-weight: bold;

}

.about__text {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
}

.about__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.about__social--item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.about__visual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    width: 453px;
    height: 453px;
    object-fit: cover;
    border: 4px var(--primary-1) solid;
    border-radius: 50%;
}

.about__line {
    width: 267px;
    height: 4px;
    background-color: var(--primary-1);

}

.skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 100px;
    margin-top: 164px;
}

.skills__grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 48px 88px;
    max-width: 664px;
    flex-wrap: wrap;
    width: 100%;
}

.skills__text {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.skills__item-label {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
}

.skills__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.skills__title {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 90px;
    line-height: 120%;
}

.skills__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 88px;
    text-align: center;
}

.skills__item:hover .skills__icon {
    animation: bounce 600ms ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    15% {
        transform: translateY(-12px)
    }

    40% {
        transform: translateY(-12px)
    }

    100% {
        transform: translateY(0)
    }
}

.skills__line {
    width: 68px;
    height: 4px;
    background-color: var(--primary-2);
}

.skills__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.skills__highlight {
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.skills__highlight-accent {
    color: var(--primary-2);
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.skills__button {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    padding: 15px 30px;
    background-color: var(--primary-1);
    border-radius: 10px;
    text-decoration: none;
    transform-origin: top right;
    transition: all 100ms ease-in-out;
}

.skills__button:hover {
    transform: scale(1.15);
    background-color: var(--primary-2);
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 84px;
}

.portfolio__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.portfolio__line-left {
    width: 100px;
    height: 4px;
    background-color: var(--primary-2);
}

.portfolio__title {
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 90px;
}

.portfolio__line-right {
    width: 507px;
    height: 4px;
    background-color: var(--primary-2);
}

.portfolio__text {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    align-self: center;
}

.portfolio__project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    padding: 0 128px;
}

.portfolio__project--reversed {
    flex-direction: row-reverse;
}

.portfolio__project-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 35px;
}

.portfolio__project-content--end {
    align-items: flex-end;
}

.portfolio__project-title {
    color: var(--primary-2);
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.portfolio__project-tech {
    color: var(--primary-1);
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
}

.portfolio__project-description {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
}

.portfolio__project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}

.portfolio__project-image {
    width: 620px;
    height: 340px;
    object-fit: cover;
}

.portfolio__project-link--primary {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: var(--primary-2);
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.portfolio__project-link--primary:hover {
    background-color: var(--primary-1);
}

.portfolio__project-link--primary:active {
    background-color: white;
    color: black;
}

.portfolio__project-link--secondary {
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    text-decoration: none;
    border: 1px solid var(--primary-1);
    transition: all 100ms ease-in-out;
}

.portfolio__project-link--secondary:hover {
    background-color: var(--primary-1);
}

.portfolio__project-link--secondary:active {
    background-color: white;
    color: black;
}

.references {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 148px;
}

.references__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.references__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 96px;
    border: 4px solid var(--primary-1);
    border-radius: 32px;
    gap: 44px;
}

.references__quote {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 20px;

}

.references__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.references__divider {
    width: 405px;
    height: 2px;
    background-color: var(--primary-2);
}

.references__author {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 18px;
}

.references__profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.references__image {
    width: 272px;
    height: 272px;
    object-fit: cover;
    border: 4px solid var(--primary-2);
    border-radius: 100%;
}

.references__line {
    width: 104px;
    height: 4px;
    background-color: var(--primary-2);
}

.references__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    gap: 20px;
}

.references__arrow {
    color: var(--primary-1);
    background-color: transparent;
    font-size: 30px;
    border: none;
}

.references__dot {
    font-size: 24px;
    color: var(--primary-2);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 148px;
    margin-bottom: 148px;
}

.contact__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.contact__line {
    width: 535px;
    height: 4px;
    background-color: var(--primary-2);
}

.contact__title {
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 90px;
}

.contact__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 148px;
    padding-left: 100px;
}

.contact__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px 0px;
    width: 474px;
}

.contact__subtitle {
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 32px;
}

.contact__text {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
}

.contact__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 32px 0;
}

.contact__group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contact__field {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--primary-2);
    border-radius: 10px;
    width: 617px;
    height: 50px;
    padding-right: 25px;
}

.contact__field:hover,
.contact__field:focus-within {
    border: 1px solid var(--primary-1);
}

.contact__field--success::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url("assets/icons/Vector(1).svg") no-repeat center / contain;
}

.contact__field--error::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url("assets/icons/Vector.svg") no-repeat center / contain;
}

.contact__input {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #141D2F;
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
}

.contact__input::placeholder {
    color: white;
}

.contact__input:focus::placeholder {
    opacity: 0;
}

.contact__field-area {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--primary-2);
    border-radius: 10px;
    width: 617px;
    height: 202px;
}

.contact__field-area:hover,
.contact__field-area:focus-within {
    border: 1px solid var(--primary-1);
}

.contact__field-area--success::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 25px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url("assets/icons/Vector(1).svg") no-repeat center / contain;
}

.contact__field-area--error::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 25px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: url("assets/icons/Vector.svg") no-repeat center / contain;
}

.contact__textarea {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    background-color: #141D2F;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
    resize: none;
}

.contact__textarea::placeholder {
    color: white;
}

.contact__textarea:focus::placeholder {
    opacity: 0;
}

.contact__privacy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.contact__privacy-text {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
}

.contact__privacy-link {
    color: var(--primary-2);
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.contact__checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.contact__checkbox-wrapper:hover {
    border-radius: 38px;
    background-color: #183771;
}

.contact__checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-1);
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__checkbox:checked::after {
    content: "✓";
    color: var(--primary-1);
    font-size: 18px;
}

.contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #B6B6B6;
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
    pointer-events: none;
}

.contact__button--enabled {
    background-color: var(--primary-1);
    cursor: pointer;
    pointer-events: all;
}

.contact__error-text {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 14px;
    color: #E61C40;
}

.is-error {
    border: 1px solid red;
}

.is-error:hover,
.is-error:focus-within {
    border-color: red;
}

.is-success {
    border: 1px solid var(--primary-1);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    border-top: 4px solid var(--primary-1);
    padding: 121px 100px;
}

.footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__logo {
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 40px;
}

.footer__legal-link {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.footer__copyright {
    color: white;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 23px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

}

.footer__social-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer__logo-i {
    display: inline-block;
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(to bottom,
            var(--primary-2) 0 35%,
            white 35% 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.footer__logo-o {
    display: inline-block;
    color: white;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    font-size: 40px;
    background: linear-gradient(to right,
            white 0 50%,
            var(--primary-1) 50% 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact__input:-webkit-autofill,
.contact__input:-webkit-autofill:hover,
.contact__input:-webkit-autofill:focus,
.contact__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #141D2F inset;
    -webkit-text-fill-color: white;

    font-family: 'Poppins-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;

    transition: background-color 5000s ease-in-out 0s;
}

.d-none {
    display: none;
}

.shape--one path {
    fill: var(--primary-2);
}

.shape--two path {
    fill: var(--primary-1);
}